# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [2]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import pdist, squareform

In [3]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [4]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [5]:
#Mediante el uso de Groupby y asignando a una variable
data_pivot = data.groupby(['CustomerID','ProductName'])['Quantity'].sum()

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [6]:
pivot = data.pivot_table(index='ProductName', columns = 'CustomerID', values = 'Quantity', aggfunc = np.sum, fill_value = 0)

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [7]:
#Importing Libraries
from scipy.spatial.distance import pdist, squareform

dist = pd.DataFrame(1/(1+squareform(pdist(pivot.T, 'euclidean'))), index = pivot.columns, columns = pivot.columns)

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [8]:
top5 = dist[33].sort_values(ascending=False)[1:6]
top5

CustomerID
264     0.087047
3535    0.087047
3317    0.087047
2503    0.085983
3305    0.085638
Name: 33, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [18]:
step5 = data_pivot.loc[top5.index]
step5

CustomerID  ProductName
5104        Apricots - Halves                    2
            Bacardi Breezer - Tropical           2
            Bay Leaf                             2
            Beans - Kidney, Canned               2
            Beans - Wax                          2
                                                ..
15166       Wine - Magnotta, Merlot Sr Vqa       4
            Wine - Red, Harrow Estates, Cab      4
            Wine - Redchard Merritt              4
            Wine - Ruffino Chianti               4
            Wine - Vineland Estate Semi - Dry    4
Name: Quantity, Length: 316, dtype: int64

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [21]:
productos = data.pivot_table(index='ProductName', aggfunc = {'Quantity':'sum'}).sort_values(by = 'Quantity', ascending = False)
productos

                             Quantity
ProductName
Cookies - Assorted               2403
Flavouring - Orange              2397
Fenngreek Seed                   2391
Wine - White Cab Sauv.on         2387
Bandage - Flexible Neon          2347
...                               ...
Scallops 60/80 Iqf               1546
Rice - Long Grain                1531
Kellogs Special K Cereal         1496
Rabbit - Whole                   1345
Water - Green Tea Refresher      1322

[452 rows x 1 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [23]:
step7 = set(top5.index.unique())- set(data_pivot.loc[33].index.unique())

vendidos = productos[productos.index.isin(step7)].sort_values(by = 'Quantity', ascending = False)
vendidos.head(5)

Empty DataFrame
Columns: [Quantity]
Index: []

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [28]:
#Setting up the iteration
recommendations = {}
clients = data.CustomerID.unique()

for i in clients:
    top5 = dist[i].sort_values(ascending=False)[1:6] #i instead of the original so that it iterates
    step5 = data_pivot.loc[top5.index]
    productos = data.pivot_table(index='ProductName', aggfunc = {'Quantity':'sum'}).sort_values(by = 'Quantity', ascending = False)
    step7 = set(top5.index.unique()) - set(data_pivot.loc[i].index.unique())
    recommendations[i] = list(productos[productos.index.isin(step7)].sort_values(by = 'Quantity', ascending = False).head(5).index)

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [30]:
reco = pd.DataFrame.from_dict(recommendations, orient = 'index').reset_index()
reco.columns = ['ClientID','Rec-1', 'Rec-2', 'Rec-3', 'Rec-4', 'Rec-5']
reco.head()

ValueError: Length mismatch: Expected axis has 1 elements, new values have 6 elements

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [16]:
#Changing to correlation:
dist2 = pd.DataFrame(1/(1+squareform(pdist(pivot.T, 'correlation'))), index = pivot.columns, columns = pivot.columns)
dist2

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.493776,0.529677,0.510360,0.506951,0.507217,0.487410,0.497932,0.499215,0.502499,...,0.493385,0.484376,0.493486,0.479867,0.499870,0.479764,0.493197,0.486457,0.491384,0.492072
200,0.493776,1.000000,0.499733,0.498575,0.482172,0.481921,0.519139,0.480599,0.499131,0.505459,...,0.504719,0.496170,0.517884,0.508954,0.492581,0.484514,0.534491,0.500253,0.484272,0.488735
264,0.529677,0.499733,1.000000,0.497579,0.513573,0.490305,0.503243,0.480936,0.502028,0.490242,...,0.508803,0.490805,0.499750,0.499162,0.517743,0.525278,0.511845,0.503500,0.515736,0.490875
356,0.510360,0.498575,0.497579,1.000000,0.490143,0.489778,0.501933,0.507803,0.482686,0.486354,...,0.499105,0.486660,0.498662,0.502228,0.494239,0.496086,0.484207,0.502204,0.506401,0.500631
412,0.506951,0.482172,0.513573,0.490143,1.000000,0.497577,0.505111,0.512470,0.493947,0.507777,...,0.488109,0.529502,0.492033,0.495264,0.504752,0.500064,0.481259,0.502418,0.505997,0.515015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.479764,0.484514,0.525278,0.496086,0.500064,0.507963,0.504739,0.499300,0.500268,0.492619,...,0.494577,0.504692,0.487604,0.510055,0.534474,1.000000,0.525583,0.508923,0.492050,0.482921
98069,0.493197,0.534491,0.511845,0.484207,0.481259,0.484219,0.496892,0.490306,0.495330,0.506038,...,0.489353,0.499742,0.493332,0.484621,0.518025,0.525583,1.000000,0.511707,0.501063,0.498897
98159,0.486457,0.500253,0.503500,0.502204,0.502418,0.499195,0.500240,0.502118,0.510333,0.502173,...,0.505074,0.522726,0.500553,0.489177,0.506341,0.508923,0.511707,1.000000,0.504367,0.495580
98185,0.491384,0.484272,0.515736,0.506401,0.505997,0.489667,0.487961,0.511136,0.500094,0.480046,...,0.483728,0.470481,0.497652,0.494943,0.490103,0.492050,0.501063,0.504367,1.000000,0.505914
98200,0.492072,0.488735,0.490875,0.500631,0.515015,0.516325,0.495461,0.496775,0.483588,0.514917,...,0.491940,0.491017,0.509511,0.491520,0.501261,0.482921,0.498897,0.495580,0.505914,1.000000